@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  background-size: cover;

}

.logo {
  display: flex;
  width: 120px;
  height: 45px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background: #D38312; 
  background: -webkit-linear-gradient(to right, #A83279, #D38312);  
  background: linear-gradient(to right, #A83279, #D38312); 
}  

.ham {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.ham span {
  background-color: #f3f3f3;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.enlaces-menu {
  display: flex;
  padding: 0;
}

.enlaces-menu li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}

.enlaces-menu li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #f3f3f3;
  font-weight: 600;
}

.enlaces-menu li:hover {
  background-color: rgb(62, 130, 197);
}

.bannar {
  width: 100%;
  height: 89.8vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannar img {
  top: 0;
  left: 0;
  object-fit: cover;
  height: calc(100vh 80 px);

}

.cont1{
  display: flex;
  justify-content: center;

}


.cont1 {
  height: 450px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.397)), url(../img/paisaje.jpg)no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.mifotico img {
  width: 300px;
  height: 300px;
  justify-content: center;
  border-radius: 50%;
  border: 10px solid #037452;
  margin: 50px 30px 20px 30px;
}

.contenido-hero h1 {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 30px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: rgb(144, 255, 227);
  margin: 20px 10px 10px 10px;

}

.contenido-hero p{
  font-size: 23px;
  font-weight: bold;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  text-align: justify;
  margin: 10px 30px 10px 20px;
}


.boton {
  display: flex;
  justify-content: center;
}

.boton a:hover {
  color: black;
}

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 22px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: #037452;
  border-radius: 5px;
}

.btn-neon:hover {
  background: #61e7e7;
  box-shadow: 0 0 10px #40f1f1,
      0 0 40px #57d857, 0 0 80px #80ff80;
  transition-delay: 1s;
  color: rgb(255, 255, 255);

}

.btn-neon span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #008080);
}

.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #008080);
}

.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #008000);
}

.btn-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #008080);
}

.btn-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.cont2 {
  height: 1200px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.397)), url(../img/images\ \(13\).jpeg)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cont2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(249, 253, 252) ;
  padding: 20px;
  margin: 20px;
}

.hirot p {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 22px;
  font-weight: bold;
  color:white;
  padding: 10px 70px 0px 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.formulario{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.formulario h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: rgb(252, 249, 249);
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #cabd85;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.formulario p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formulario a {
  color: white;
  text-decoration: none;
}

.formulario a:hover {
  color: white;
  text-decoration: underline;
}

.formulario .botons {
  width: 100%;
  background: #cabd85;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

footer{
  height: 50px;;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #705f39;
}

footer p{
  color: white;
  font-size: 20px;
  
}

@media (max-width:700px) {
  body {
    overflow: scroll;
  }

  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    transition: 0.2s 0.1s;

  }


  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    
  }

  .logo {
  
    padding-left: 25px;

  }

  .enlaces-menu {

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;


  }

  .enlaces-menu li {
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .cont1 {
    

    flex-direction: column;
    align-items: center;
    height: 850px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.397)), url(../img/paisaje.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .mifotico img {
    width: 200px;
    height: 200px;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid #037452;
    margin: 30px 30px 20px 30px;
  }
  
  .contenido-hero h1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: rgb(144, 255, 227);
    margin: 20px 10px 10px 10px;
  
  }
  
  .contenido-hero p{
    font-size: 18px;
    font-weight: bold;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    text-align: justify;
    margin: 10px 40px 10px 40px;
  }
  
  .cont2 {
    height: 1200px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.397)), url(../img/images\ \(13\).jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .cont2 .hirot h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(249, 253, 252) ;
    padding: 20px;
    margin: 20px;
  
  }
  
  .hirot p {
    font-size: 18px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    margin: 20px;
  }
  
  
  .formulario{
    width: 300px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-top: 10px;
  }
  
  .formulario h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: rgb(252, 249, 249);
  }
  
  .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #cabd85;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .formulario a {
    color: white;
    text-decoration: none;
  }
  
  .formulario a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .formulario .botons {
    width: 100%;
    background: #cabd85;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  
  footer{
    height: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #705f39;
  }
  
  footer p{
    color: white;
    font-size: 16px;
    
  }
}

@media (max-width:435px) {

  .cont2 {
    height: 1500px;
  }
  
  footer p{
    font-size: 14px;
    
  }

}


@keyframes muestraMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.enlaces-menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
  opacity: 0;
}

.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover {
  transform: rotate(360deg);
  }

  @media (max-width:420px) {
    body {
      overflow: scroll;
    }
  
    .ham {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 30px;
      transition: 0.2s 0.1s;
  
    }
  
  
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 25px;
      padding-bottom: 25px;
      
    }
  
    .logo {
    
      padding-left: 25px;
  
    }
  
    .enlaces-menu {
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 92vh;
      margin: 0;
      padding: 0;
      display: none;
      opacity: 0;
      transition: opacity 5s ease-out;
      width: 100%;
  
  
    }
  
    .enlaces-menu li {
      text-align: center;
      width: 100%;
      padding: 20px;
    }
  
    .cont1 {
      
  
      flex-direction: column;
      align-items: center;
      height: 850px;
      margin: auto;
      position: relative;
      overflow: hidden;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.397)), url(../img/paisaje.jpg)no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    
    .mifotico img {
      width: 200px;
      height: 200px;
      justify-content: center;
      border-radius: 50%;
      border: 10px solid #037452;
      margin: 30px 30px 20px 30px;
    }
    
    .contenido-hero h1 {
      display: flex;
      justify-content: center;
      text-align: justify;
      font-size: 20px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      color: rgb(144, 255, 227);
      margin: 20px 10px 10px 10px;
    
    }
    
    .contenido-hero p{
      font-size: 18px;
      font-weight: bold;
      color:white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      flex-direction: column;
      text-align: justify;
      margin: 10px 40px 10px 40px;
    }
    
    .cont2 {
      height: 1500px;
      position: relative;
      overflow: hidden;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.397)), url(../img/images\ \(13\).jpeg)no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    
    .cont2 .hirot h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color:rgb(249, 253, 252) ;
      padding: 20px;
      margin: 20px;
    
    }
    
    .hirot p {
      font-size: 18px;
      color:white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 25px;
      margin: 20px;
    }
    
    
    .formulario{
      width: 300px;
      background: #24303c;
      padding: 20px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      font-family: 'calibri';
      color: white;
      box-shadow: 7px 13px 37px #000;
      margin-top: 10px;
    }
    
    .formulario h3 {
      font-size: 22px;
      margin-bottom: 20px;
      color: rgb(252, 249, 249);
    }
    
    .controls {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid #cabd85;
      font-family: 'calibri';
      font-size: 18px;
      color: white;
    }
    
    .formulario p {
      height: 40px;
      text-align: center;
      font-size: 18px;
      line-height: 40px;
    }
    
    .formulario a {
      color: white;
      text-decoration: none;
    }
    
    .formulario a:hover {
      color: white;
      text-decoration: underline;
    }
    
    .formulario .botons {
      width: 100%;
      background: #cabd85;
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
    }
    
    footer{
      height: 50px;;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #705f39;
    }
    
    footer p{
      color: white;
      font-size: 16px;
      
    }
  }
